In [1]:
#import libraries
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
#changing the directory 
os.chdir('/home/student/Cloud/Owncloud/SyncVM/CIP_F22/CIP-Project')
#Check current working directory and print it
print(os.getcwd())

/home/student/Cloud/Owncloud/SyncVM/CIP_F22/CIP-Project

In [3]:
#read clean csv file
dfmgr = pd.read_csv('3_merged_Boxoffice_Cineman_stage.csv')
dfmgr.head()

,Unnamed: 0,movie_title,bechtel,genre,review_by_cineman,cineman_movie_charts,average_rating
0,0,The 355,pass,"Action, Thriller",NaN,3.2,3.2
1,1,13 Minutes,pass,"Action, Drama, Thriller",NaN,3.3,3.3
2,2,A Classic Horror Story,pass,NaN,NaN,NaN,NaN
3,3,Afterlife of the Party,pass,NaN,NaN,NaN,NaN
4,4,America: The Motion Picture,pass,NaN,NaN,NaN,NaN

In [4]:
#creating an engine to connect to mariaDB
engine = create_engine("mariadb+mariadbconnector://admin:password@localhost:3306/cip")
dfmgr.to_sql('3_merged_Boxoffice_Cineman_stage', con=engine) #connection is the engine

-1

In [5]:
# runs a transaction when the block is completed
with engine.begin() as con:
    qry = text("SELECT * FROM genre_rating_stage")
    resultset = con.execute(qry) #returns CursorResult which references a DBAPI cursor
    results_as_dict = resultset.mappings().all() #returnes rows as a dict
    print(results_as_dict[1:10])  #10 movie titles

[{'index': 1, 'Unnamed: 0': 1, 'movie_title': '13 Minutes', 'bechtel': 'pass', 'genre': 'Action, Drama, Thriller', 'review_by_cineman': None, 'cineman_movie_charts': 3.3, 'average_rating': 3.3}, {'index': 2, 'Unnamed: 0': 2, 'movie_title': 'A Classic Horror Story', 'bechtel': 'pass', 'genre': None, 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 3, 'Unnamed: 0': 3, 'movie_title': 'Afterlife of the Party', 'bechtel': 'pass', 'genre': None, 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 4, 'Unnamed: 0': 4, 'movie_title': 'America: The Motion Picture', 'bechtel': 'pass', 'genre': None, 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 5, 'Unnamed: 0': 5, 'movie_title': 'Army of the Dead', 'bechtel': 'pass', 'genre': 'Action, Crime, Horror, Sci-Fi, Thriller', 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 6, 'Unnamed: 0': 6, 'movie_title': 'Barb and Star Go to Vista Del Mar', 'bechtel': 'pass', 'genre': 'Comedy', 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 7, 'Unnamed: 0': 7, 'movie_title': 'The Beatles: Get Back', 'bechtel': 'pass', 'genre': None, 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 8, 'Unnamed: 0': 8, 'movie_title': 'Being The Ricardos', 'bechtel': 'pass', 'genre': None, 'review_by_cineman': None, 'cineman_movie_charts': None, 'average_rating': None}, {'index': 9, 'Unnamed: 0': 9, 'movie_title': 'Black Widow', 'bechtel': 'pass', 'genre': 'Action, Adventure, Sci-Fi', 'review_by_cineman': None, 'cineman_movie_charts': 3.7, 'average_rating': 3.7}]